@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #070708;
    --background-secondary: #131316;
    --background-tertiary: #1c1c1c;
    --foreground: #e4e4e6;
    --txt-secondary: #afb0b6;
    --txt-tertiary: #d6d0fb;
    --btn: #4a2bed;
    --accordion-txt: #797c86;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
